<!doctype html>
<html>
<head>
	<link rel='stylesheet' href='/static/style.css'>
	<link rel='stylesheet' href='/static/style.css'>
	 <link  href="../static/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	 <link  href="bootstrap/dist/css/bootstrap.css" rel="stylesheet">
	 <link  href="bootstrap/dist/css/bootstrap.css" rel="stylesheet">
	 
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
	<body>
	<form action='/addcountrybyname'>	
		<table class="table table-bordered" align="center">
	
    
	<div align="center">
  <tbody align="center">

    <tr>
      <th scope="row">1</th>
      <td>Name</td>
      <td><div><input name='country'></div></td>
      
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Capital</td>
      <td><div><input name='capital'></div></td>
      
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Continent</td>
      <td><input name='continent'></td>
      
    </tr>
	<tr>
      <th scope="row">4</th>
      <td>Area</td>
      <td><input name="area"></td>
      
    </tr>
	<tr>
      <th scope="row">5</th>
      <td>Population</td>
      <td><input name="population"></td>
      
    </tr>
	<tr>
      <th scope="row">6</th>
      <td>GDP (million $)</td>
      <td><input name="gdp"></td>
      
    </tr>
	<tr>
      <th scope="row"></th>
      <td></td>
      <td>
		<input type="submit" value="submit" type="button" class="btn btn-default">
</td>

      
    </tr>
	
	
  </tbody>
  
  </div>
  
   
</table>
</form>
	</body>
</html>