<!doctype html>
{% extends "base.html" %}
{% block content %}
<html>
<head>
	 <link rel='stylesheet' href='/static/style.css'>
	 <link  href="../static/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	 <link  href="bootstrap/dist/css/bootstrap.css" rel="stylesheet">
	 <link  href="bootstrap/dist/css/bootstrap.css" rel="stylesheet">
	 
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>

<style>
</head>
<style>
</style
	<body>
		
		<div>There are {{w|length}} countries in in the world.</div>
		<ul>
			{% for c in w %}
			<li><a href='/countryByName/{{c.name}}'>
				<img src='/static/flags/{{c["tld"]}}.gif' class='tiny'>
				{{c.name}}</a></li>
			{% endfor %}
		</ul>
		<div class='nav_button'>
			<a href='/begin/{{page_number-page_size}}'>Previous Page</a>
		</div>
		<div class='nav_button'>
			<a href='/begin/{{page_number+page_size}}'>Next Page</a>
		</div>
	</body>
	 <script src="bootstrap/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>
{% endblock %}	